<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="login.css">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        body{
	background-image: linear-gradient( 90deg, #FD6585 10%, #0D25B9 100%);
   }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="well well-lg text-center center" style="background-color: #fff">
 
        <h1>Project Uniqueness checker</h1>
        <p>Find how unique your project is in comparission to previous year projects</p>
     </div>

    <div class='row'>
        {% block body %} {% endblock %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin Dashboard</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
              </ul>
            </div>
          </nav>
          
          
    </div>
</div>
</body>
</html>