*{margin:0; padding:0;}
body{
	background-image: linear-gradient( 90deg, #FD6585 10%, #0D25B9 100%);
    padding-top: 2vh; 
}
.form-container, form{
	width:250px;
	height: auto;
	padding: 70px 70px;
	background-color:#616161;
	border-radius:10px;
	box-shadow: 0 0 10px 0 #000;
    margin:auto;
    position: relative;
    
}
ul.list{
list-style-type: none;
text-align: center;
}
ul.list li{
width:250px;
margin-bottom: 10px;
}
ul.list li input{
	width:250px;
    text-align: center;
    padding: 10px 0px;
    border:none;
    background-color:#fff;
    border-radius: 5px;
}
ul.list li input[type="button"]{
	background-color: #bf5f82;
	color: #fff;
}
.ul-img{
	background:url("images/user.png") no-repeat;
	width:70px;
	height:70px;
	background-size: 100%;
	position: absolute;
	top:-40px;
	left: 155px;
	border-radius: 100%;
    }

.btn-grad {background-image: linear-gradient(to right, #606c88 0%, #3f4c6b 51%, #606c88 100%);}
.btn-grad:hover { background-position: right center; }


h2 {
  font-size: 50px;
  background: -webkit-linear-gradient(#ee9ca7, #ffdde1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}