*{margin:0; padding:0;}
body{
	background-image: linear-gradient( 90deg, #FD6585 10%, #0D25B9 100%);
    padding-top: 2vh; 
}
.form-container, form{
	width:250px;
	height: auto;
	padding: 70px 70px;
	background-color:#616161;
	border-radius:10px;
	box-shadow: 0 0 10px 0 #000;
    margin:auto;
    position: relative;
    
}
ul.list{
list-style-type: none;
text-align: center;
}
ul.list li{
width:250px;
margin-bottom: 10px;
}
ul.list li input{
	width:250px;
    text-align: center;
    padding: 10px 0px;
    border:none;
    background-color:#fff;
    border-radius: 5px;
}
ul.list li input[type="button"]{
	background-color: #bf5f82;
	color: #fff;
}
.ul-img{
	background:url("images/user.png") no-repeat;
	width:70px;
	height:70px;
	background-size: 100%;
	position: absolute;
	top:-40px;
	left: 155px;
	border-radius: 100%;
    }

.btn-grad {background-image: linear-gradient(to right, #606c88 0%, #3f4c6b 51%, #606c88 100%);}
.btn-grad:hover { background-position: right center; }


h2 {
  font-size: 50px;
  background: -webkit-linear-gradient(#ee9ca7, #ffdde1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }